/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.test {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.title {
    position: absolute;
    top: 5%;
    left: 5%;
    color: white;;
}

.totalMoney {
    position: absolute;
    color: white;
    font-size: 3rem;
    top: 5%;
    right: 5%;
}

.shop {
    position: absolute;
    color: white;
    top: 13%;
    left: 5%;
}

.mpc {
    position: absolute;
    color: white;
    top: 17%;
    left: 5%;
}

.upgradeMPC {
    position: absolute;
    top: 20%;
    left: 5%;
}

.mps {
    position: absolute;
    color: white;
    top: 23%;
    left: 5%;
}

.upgradeMPS {
    position: absolute;
    top: 26%;
    left: 5%;
}

.stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.piano {
    position: absolute;
    top: 75%;
    left: 35%;
    width: 5%;
    height: 10%;
    visibility: hidden;
}

.drums {
    position: absolute;
    width: 5%;
    height: 10%;
    top: 80%;
    left: 25%;
    visibility: hidden;
}

.harmonica {
    position: absolute;
    width: 5%;
    height: 10%;
    top: 77%;
    left: 60%;
    visibility: hidden;
}

.ocarina {
    position: absolute;
    width: 5%;
    height: 10%;
    top: 76%;
    left: 48%;
    visibility: hidden;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#clickerContainer, #shopContainer {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}