/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.test {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.title {
    position: absolute;
    top: 2%;
    left: 5%;
    color: white;
    font-family: "Jersey 10";
    font-size: 10rem;
}

.subtitle {
    position: absolute;
    top: 18%;
    left: 5%;
    color: white;
    font-family: "Jersey 10";
    font-size: 5rem;
}

.totalMoney {
    position: absolute;
    color: white;
    font-size: 3rem;
    top: 5%;
    right: 5%;
    font-family: "Jersey 10";
}

.shop {
    position: absolute;
    color: white;
    bottom: 10%;
    left: 5%;
    font-family: "Jersey 10";
    font-size: 5rem;
}

.mpc {
    position: absolute;
    color: white;
    bottom: 5%;
    left: 5%;
}

.upgradeMPC {
    position: absolute;
    bottom: 12%;
    left: 15%;
    font-family: "Jersey 10";
    font-size: 2rem;
    padding: 0 10px;
    border-radius: 10px;
}

.mps {
    position: absolute;
    color: white;
    bottom: 8%;
    left: 5%;
}

.upgradeMPS {
    position: absolute;
    bottom: 12%;
    left: 35%;
    font-family: "Jersey 10";
    font-size: 2rem;
    padding: 0 10px;
    border-radius: 10px;
}

.stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.piano {
    position: absolute;
    top: 5%;
    left: 23%;
    width: 25%;
    height: 85%;
    visibility: hidden;
}

.drums {
    position: absolute;
    width: 16%;
    height: 60%;
    top: 23%;
    left: 53%;
    visibility: hidden;
    transform: scaleX(-1);
}

.harmonica {
    position: absolute;
    width: 8%;
    height: 30%;
    top: 40%;
    left: 70%;
    transform: scaleX(-1);
    visibility: hidden;
}

.ocarina {
    position: absolute;
    width: 10%;
    height: 40%;
    top: 33%;
    left: 45%;
    visibility: hidden;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#clickerContainer, #shopContainer {
    display: inline-block;
    padding: 5px 10px;
    cursor: pointer;
}